Body {background-color: #E4F2ED;
font-family: arial;}

H1 {color: #black;
    background: #white;
    display: inline-block;}

nav ul {display: inline-block;}

nav ul li {display: inline-block;
          list-style-type: none;
          padding: 5px, 15px;
          color: #ECEAEA;}

a {color: gray;}
